.contact-wrapper {
  padding: 5em 0;
}
#pageDescription {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}
.formContainer {
  width: 95%;
  max-width: 1300px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.formContainer .questionContainer {
  width: 550px;
  font-size: 40px;
  line-height: 120px;
}

.formContainer form {
  width: calc(100% - 600px);
  display: flex;
  flex-direction: column;
}
.formContainer label {
  display: flex;
  flex-direction: column;
  color: var(--lm-text);
  margin-bottom: 50px;
}
.formContainer input,
select,
textarea {
  background-color: unset;
  border: unset;
  color: var(--lm-text);
  border-bottom: 1px solid var(--lm-text);
  padding-bottom: 5px;
  margin-top: 10px;
  font-size: 18px;
  resize: none;
}
.formContainer textarea {
  min-height: 150px;
}
.formContainer button {
  width: 150px;
  height: 40px;
  background-color: var(--lm-text);
  font-family: var(--other_font);
  color: var(--dm-text);
  border: unset;
  margin-left: auto;
  font-size: 18px;
  cursor: pointer;
}
@media screen and (max-width: 950px) {
  .formContainer .questionContainer {
    display: none;
  }
  .formContainer form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  .formContainer button {
    margin: 0 auto;
  }
}
