.pageTitle {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

@media screen and (max-width: 900px) {
  .formContainer .questionContainer {
    display: none;
  }
  .formContainer form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .formContainer button {
    margin: 0 auto;
  }
}
