/* --------------------------------- */
/* Modal */
/* --------------------------------- */
.modalContainer {
  width: 100dvw;
  height: 100dvh;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 95%;
  max-width: 400px;

  background-color: var(--dm-background);
  border: 1px solid var(--dm-text);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.modal h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--dm-text);
}
.modal p {
  text-align: center;
  margin: 3px;
  color: var(--dm-text);
}
.modalContainer .downloadTypeInModal {
  width: 100%;
  max-width: 350px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto 15px;
  border: 1px solid var(--dm-text);
}
.modalContainer .selectorItem {
  width: 50%;
  padding: 5px 0;
  border-radius: 8px;
  cursor: pointer;
}
.modalContainer .active {
  background-color: #dcdcdc7d;
}

.modal .qr-container {
  background: white;
  padding: 20px;
  display: inline-block;
  border-radius: 8px;
  margin: 20px auto;
}

#qr-code {
  display: block;
}
