.whitePaper {
  width: 95%;
  margin: 30px auto 0;
  max-width: 900px;
}
.whitePaper h1 {
  font-size: 40px;
  margin-top: 75px;
}
.whitePaper .tableOfContentsHeader {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 25px;
}
.whitePaper .tableOfContentsContainer {
  padding-left: 30px;
}
.whitePaper .tableOfContentsContainer li {
  margin: 10px 0;
  font-size: 18px;
}
.whitePaper .tableOfContentsContainer a {
  margin: 10px 0;
  font-size: 18px;
}
.whitePaper #abstract {
  margin-top: 50px;
}
.whitePaper .sectionContainer {
  margin: 50px 0;
}
.whitePaper .sectionContainer h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.whitePaper .sectionContainer p {
  line-height: 32px;
  margin: 20px 0;
}
.whitePaper .sectionContainer li {
  line-height: 32px;
  margin: 20px 0;
}
.whitePaper .sectionContainer ol {
  padding-left: 30px;
}
.whitePaper .sectionContainer ul {
  padding-left: 30px;
}
.whitePaper .sectionHeaders {
  width: 100%;
  font-size: 50px;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  .whitePaper h1 {
    font-size: 30px;
  }
  .whitePaper .sectionHeaders {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .valuesSection .value h2 {
    font-size: 30px;
  }
  .pageHeader {
    margin-top: 30px;
  }
  .purposeSection .purposeContianer {
    flex-direction: column;
  }
  .purposeSection .purposeContianer .purposeHeader {
    font-size: 30px;
    margin-right: 0;
  }
  .purposeSection .purposeContianer .purposeDescription {
    text-align: center;
  }
  .sectionHeaders {
    font-size: 40px;
  }
}

.pb {
  color: var(--primary_color);
}
