/* ///////////////////////////// */
/* CHANGING GLOBAL THEME */
body {
  background-color: var(--lm-background);
}
p,
h1,
h2,
h3,
h4,
h5,
a,
li,
span,
input,
label,
textarea,
time {
  /* color: var(--lm-text); */
}

.navigationIcon {
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(7500%)
    hue-rotate(59deg) brightness(89%) contrast(111%);
}

.downloadButton .seperator {
  background-color: var(--lm-text);
}

.modal {
  background-color: var(--lm-backgroundOffset);
}
.modal h2,
.modal p {
  color: var(--lm-text);
}
.modalContainer .active {
  background-color: black;
  color: var(--dm-text);
}
.modal .qr-container {
  background-color: black;
}

/* ////////////////////////////// */
nav .blogNav {
  width: 95%;
  max-width: 1300px;
  display: flex;
  min-height: 35px;
  align-items: center;
  margin: 10px auto 20px;
  justify-content: center;
  position: relative;
}

nav .blogNav .locationTab {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
nav .blogNav .locationTab .imgContainer {
  width: 35px;
  height: 35px;
  background-color: var(--lm-backgroundOffset);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 10px;
}
nav .blogNav .locationTab .imgContainer img {
  width: 20px;
  height: 20px;
}
nav .blogTypeSeperator {
  margin: 0 5px;
}

nav .blogNav p {
  display: block;
}
#blogTypeText {
  opacity: 0.7;
}
/* ////////////////////////////////////////////// */

.blogContentContainer {
  width: 90%;
  /* max-width: 700px; */
  margin: 0 auto;
  padding: 8em 0;
}

.blogContentContainer .postHead {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
#blogTitle {
  font-size: 40px;
  margin-top: 50px;
}
#blogSubHeader {
  font-size: 18px;
  margin-top: 10px;
}
.blogContentContainer .postDataContainerOuter {
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.blogContentContainer .imageContainer {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: white;
  /* padding: 10px; */
  margin-right: 10px;
  overflow: hidden;
}
.blogContentContainer .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.blogContentContainer .postDataContainerInner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.blogContentContainer .postDataSeperator {
  margin: 0 10px;
}

.blogContentContainer a:visited {
  color: var(--primary_color);
}
/* ///////////////////////////////////// */
/* All blog custom theme elemtnts */
#postBody {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
#postBody > p,
#postBody > h1,
#postBody > h2,
#postBody > h3,
#postBody > h4,
#postBody > ul,
#postBody > ol {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

#postBody p,
#postBody li {
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}
#postBody a {
  font-size: 18px;
  text-decoration: underline;
}
#postBody h4 {
  font-size: 25px;
  font-weight: 500;
}
#postBody ul,
#postBody ol {
  padding-left: 50px;
}
#postBody h1,
#postBody h2,
#postBody h3,
#postBody h4 {
  margin: 10px auto;
}
#postBody .bld {
  font-weight: 500;
}
#postBody .conetentImage {
  width: 80%;
  height: auto;
  max-width: 300px;
  margin: 20px auto;
}

#postBody .conetentImageLong {
  width: 100%;
  height: auto;
  max-width: 700px;
  border-radius: 8px;
  margin: 0 auto;
}
