/* Hero section */
.hero .CTA {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 70px;
  justify-content: center;
}
.hero .CTA .textContainer {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 75px;
  margin-right: 50px;
}

.hero .titleContainer {
  width: 100%;
  margin: 50px auto;
}
.hero .headerP {
  margin-bottom: 20px;
  opacity: 0.8;
}
.hero .buttonsContainer {
  width: 100%;
  display: flex;
  margin-top: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.hero .buttonsContainer .warningText {
  opacity: 0.8;
  font-size: 13px;
}

.hero .iphoneTemplateWrapper {
  width: 100%;
  max-width: 450px;
  position: relative;
  z-index: -1;
  display: flex;
}

.hero .blitzHomepage {
  width: 100%;
  height: auto;
}

/* New web app  */

#webApp {
  width: 95%;
  max-width: 900px;
  margin: 100px auto 0;
  background-color: var(--dm-backgroundOffset);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#webApp p {
  width: 100%;
  max-width: 620px;
  margin: 20px auto 50px;
  font-size: 16px;
}
#webApp .buttonContainer {
  width: 100%;
  max-width: 550px;
  display: grid;
  grid-template-columns: 1fr;

  column-gap: 20px;
}
#webApp .downloadButton {
  margin-right: unset;
}
#webApp .downloadText {
  margin-left: unset;
}
#webApp button {
  width: 100%;
  max-width: 200px;
  background-color: unset;
  border: 2px solid var(--dm-text);
  padding: 10px 0;
  border-radius: 8px;
  font-size: 1rem;
  color: var(--dm-text);
  cursor: pointer;
  margin: 0 auto;
}

/* --------------------------------- */
/* Blitz Wallet featues */
/* --------------------------------- */
#features {
  width: 95%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}
#features h2 {
  text-align: center;
}

#features .sectionHeaders:nth-child(2) {
  margin-bottom: 30px;
  color: var(--primary_color);
}
#features .sectionDescription {
  max-width: 800px;
  width: 90%;
  text-align: center;
  margin-bottom: 50px;
}
#features .featuresContainer {
  display: flex;
  width: 95%;
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* breakpoitn with media qurries */
  row-gap: 20px;
  column-gap: 20px;
}
#features .featuresContainer .feature {
  display: flex;
  width: 100%;

  display: flex;
  flex-direction: column;
  background-color: var(--dm-backgroundOffset);
  padding: 50px 30px 30px 30px;
  border-radius: 8px;
}
#features .featuresContainer .feature .icon {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7460%)
    hue-rotate(144deg) brightness(115%) contrast(102%);
}
#features .featuresContainer .feature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#features .featuresContainer .feature h3 {
  margin: 20px 0;
}
#features .featuresContainer .feature span {
  opacity: 0.9;
}
#features .featuresContainer .feature h3,
span {
  font-size: 16px;
}
/* Dowload container */
#dowloadToday {
  width: 95%;
  max-width: 900px;
  margin: 100px auto 0;
  background-color: var(--dm-backgroundOffset);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dowloadToday p {
  width: 100%;
  max-width: 620px;
  margin: 20px auto 50px;
}
#dowloadToday .downloadButton {
  margin-right: 0;
}
/* CONSTANTS */
.sectionHeaders {
  font-size: 60px;
}
.sectionHeadersDescription {
  font-size: 18px;
  opacity: 0.8;
}
@media screen and (max-width: 1130px) {
  .hero .CTA {
    flex-direction: column;
    margin-top: 0;
  }
  .hero .CTA .textContainer {
    margin-right: 0;
    margin-bottom: 50px;
    margin-top: 0;
  }
  .hero h1 {
    text-align: center;
    margin-top: 0;
  }
  .hero .headerP {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .hero h1 {
    text-align: center;
  }
  #features .featuresContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .sponsorOrIntegration .sponsorsHeader {
    font-size: 35px;
  }
  .sponsorOrIntegration .sponsorContainer {
    font-size: 18px;
  }
  #features .sectionHeader {
    font-size: 30px;
  }
}
@media screen and (max-width: 730px) {
  .sectionHeaders {
    font-size: 40px;
  }
  .sectionHeadersDescription {
    font-size: 14px;
  }

  #features .featuresContainer {
    grid-template-columns: 1fr;
  }
  .sponsorOrIntegration h2 {
    margin: 50px 0 30px;
  }
}
@media screen and (max-width: 600px) {
  .sponsorOrIntegration .sponsorContainer {
    flex-direction: column;
  }
}
@media screen and (max-width: 470px) {
  #webApp .buttonContainer {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.pb {
  color: var(--primary_color);
}
