body {
  width: 100dvw;
  min-height: 100dvh;
  background-color: var(--lm-background);
  display: flex;
  flex-direction: column;
}
.container {
  width: 95%;
  max-width: 1800px;
  height: fit-content;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.wordmarkContainer {
  width: 100%;
  margin: 20px auto;
}
.wordmarkContainer img {
  width: 180px;
}

.contentContainer {
  width: 95%;
  max-width: 800px;
  margin: auto auto;
  text-align: center;
}
.contentContainer h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--lm-text);
  text-transform: capitalize;
}
.contentContainer .subHeader {
  font-size: 20px;
  color: var(--lm-text);
}

.contentContainer .buttonContainer {
  width: 100%;
  max-width: 350px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 40px auto 0;
}
.contentContainer .button {
  width: 100%;
  min-height: 50px;
  text-decoration: none;
  margin: 10px 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentContainer #blitzLink {
  background-color: var(--primary_color);
}
.contentContainer #blitzLink p {
  color: var(--lm-background);
}
.contentContainer p {
  text-decoration: none;
  color: var(--lm-text);
}
@media screen and (max-width: 500px) {
  .contentContainer h2 {
    font-size: 16px;
  }
}
