.policyContent {
  width: 95%;
  max-width: 1000px;
  margin: 50px auto;
  padding: 5em 0;
}

.policyContent .header {
  font-size: 45px;
  text-align: center;
  font-family: var(--title_font);
  margin-bottom: 50px;
}
.policyContent .lastUpdatedDate {
  margin-bottom: 20px;
}
.policyContent h2,
h3 {
  font-family: var(--title_font);
  margin-bottom: 20px;
}
.policyContent p {
  font-family: var(--other_font);
  line-height: 35px;
}
.policyContent .contentSection:not(:last-child) {
  margin-bottom: 100px;
}
.policyContent .mb_p {
  margin-bottom: 10px;
}
.policyContent .bld_p {
  font-weight: 500;
}
.policyContent .permission_p {
  margin-bottom: 30px;
}

.policyContent .contentSection ul,
ol {
  width: 95%;
  /* list-style: ; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: auto;
  line-height: 2rem;
}

.policyContent .contentSection ul li {
  line-height: 2rem;
}
