/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"); */

:root {
  --title_font: "Poppins", sans-serif;
  --description_font: "Poppins", sans-serif;
  --other_font: "Poppins", sans-serif;

  --primary_color: #0375f6;
  --secondary_color: #21374f;
  --tertiary_color: #009bf0;

  --text_contrast_to_secondary: #9dcbff;

  --lm-background: #f2f2f2;
  --lm-backgroundOffset: #e3e3e3;
  --dm-background: #00254e;
  --dm-backgroundOffset: #013167;

  --lm-text: #262626;
  --dm-text: #d9d9d9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0;
  font-family: var(--title_font);
}
body {
  height: fit-content;
  background-color: var(--dm-background);
}
h1,
h2,
h3,
h4 {
  font-family: var(--title_font);
  color: var(--dm-text);
  letter-spacing: 1px;
  line-height: 1.3em;
}

p,
a,
li,
span,
input,
label,
textarea,
time {
  font-family: var(--other_font);
  color: var(--dm-text);
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
}

a {
  color: unset;
  text-decoration: none;
}

.iconStyle {
  width: 30px;
  height: 30px;
}
.screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.button {
  background-color: var(--dm-text);
  color: var(--lm-text);
  padding: 15px 12px;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
}
.button:hover {
  background-color: #b8b8b8;
}
.button .buttonImage {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
