/* --------------------------------- */
/* NavBar */
/* --------------------------------- */

nav {
  position: sticky;
  top: 0;
  /* background-color: #d9d9d923; */
  border-bottom: 1px solid #d9d9d923;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 99;
}

nav .navContent {
  width: 95%;
  max-width: 1300px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo {
  height: 40px;
}
nav .wordmark {
  width: 300px;
}
nav .desktopNav {
  width: calc(100% - 300px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
nav .desktopNav .active {
  color: var(--primary_color);
}

nav .downloadModal,
.bitzName {
  width: 150px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: unset;
}
nav .bitzName {
  font-weight: 500;
  text-align: left;
}
nav .downloadModal {
  text-align: right;
}

nav .mobile {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: auto;
}

.mobileNavDropdown {
  width: 100vw;
  height: calc(100dvh - 61px);

  align-items: center;

  display: none;

  position: fixed;

  top: 61px;
  left: 0;
  z-index: 99;
  background-color: var(--dm-background);

  flex-direction: column;
}
.mobileNavDropdown .mobileNavDropdown-Container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  background-color: var(--dm-background);
}
.mobileNavDropdown .navItems {
  height: calc(100dvh / 2);
  min-height: 200px;
  flex-direction: column;
  margin: auto 0;
}
.mobileNavDropdown .imgContainer {
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .shown {
  display: block;
}
nav .hidden {
  display: none;
}
.mobileNavDropdown .closeMobileNavBTN {
  margin-left: auto;
  cursor: pointer;
}

.mobileNavDropdown .appContainer {
  width: 95%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: auto;
  padding-bottom: 20px;
}
.mobileNavDropdown .appContainer .app {
  width: 170px;
  height: 45px;
  position: relative;

  display: flex;
  align-items: center;

  padding: 5px;

  border: 1px solid black;
  border-radius: 5px;
  font-family: var(--description_font);

  text-decoration: none;
}
.mobileNavDropdown .appContainer .app img {
  margin-right: 10px;
}

.navItems {
  width: 300px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.navItem {
  font-size: 16px;
  /* margin: 0 10px; */
  cursor: pointer;
  font-family: var(--description_font);
  transition: color 0.3s ease;
  color: var(--dm-text);
}
.navItem:hover {
  color: var(--primary_color);
}

.navItem a {
  text-decoration: none;
}
.navItems .activePage {
  color: var(--primary_color);
}

/* --------------------------------- */
/* Footer */
/* --------------------------------- */

footer {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0 30px;
}
footer .top {
  width: 95%;
  max-width: 1300px;

  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--dm-text);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

footer .top .text {
  width: 95%;
  max-width: 400px;
}
footer .top .text h2 {
  margin-bottom: 10px;
}
footer .top .listItems {
  display: flex;
}
footer .top .listItems .list:first-child {
  margin-right: 30px;
}
footer .top .listItems .list ul {
  list-style: none;
}
footer .top .listItems .list li {
  cursor: pointer;
  margin: 5px 0;
}

footer .content {
  max-width: 1300px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
}

footer .privcyContent {
  width: 95%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: baseline;
}
footer .privcyContent a {
  margin: 5px 0;
}

footer .privcyContent p:first-child {
  margin-bottom: 10px;
}
footer .privcyContent div {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .navItems {
  width: 95%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

@media screen and (max-width: 1000px) {
  /* --------------------------------- */
  /* Footer */
  /* --------------------------------- */
  footer .content {
    flex-direction: column;
  }
  footer .privcyContent {
    align-items: center;
  }
  footer .img {
    margin: 50px 0;
    position: relative;
    transform: translate(0, 0);
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 800px) {
  nav .desktopNav {
    display: none;
  }
  nav p {
    display: none;
  }
  nav .bitzName {
    display: block;
    text-align: left;
  }
  nav p:last-child {
    text-align: left;
  }
  nav .mobile {
    display: flex;
  }
  nav .navItem {
    font-size: 18px;
  }
  footer .top {
    flex-direction: column;
  }
  footer .top .text {
    margin-bottom: 30px;
  }
  footer .top .listItems {
    flex-direction: column;
  }
  footer .top .listItems .list:first-child {
    margin-bottom: 30px;
  }
  footer .privcyContent {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  nav .wordmark {
    width: 230px;
  }

  footer .navItems {
    height: 250px;
    flex-direction: column;
  }
}
